@use 'styles/base';

.tagContainer {
  display: flex;
  font-size: 1.1em;

  .title {
    min-width: 50px;
  }

  .tagItems {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    a {
      border: 1px solid;
      border-radius: 5px;
      padding: 3px 10px;
      background-color: base.$tag-purple-color;
      color: base.$body-white-color;
      font-size: 12px;
    }

    .comma {
      color: inherit;
    }
  }
}
