@use 'styles/base';

.articleItem {
  border-radius: 5px;
  overflow: hidden;
  // border: 1px solid rgba(base.$base-color, 0.15);
  // background-color: base.$body-bg;
  padding: 20px;
  transition: 0.4s;

  // @include base.hover-full-state {
  //   transform: scale(1.02);
  // }

  & .thumbnail {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
  }

  & .content {
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 0;
    font-weight: 200;

    @include base.breakpoint(max-xl) {
      padding: 15px;
    }

    .title {
      margin: 0 0 4px 0;
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 500;
      max-height: 4rem;
      overflow: hidden;
      display: block;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      height: 64px;
      color: white;
    }

    .description {
      // color: base.$body-color;
      line-height: 1.5rem;
      max-height: 4.5rem;
      overflow: hidden;
      display: block;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      height: 72px;
    }
  }
}

.meta {
  font-size: 14px;
  font-weight: 200;
  // color: base.$body-color;

  .icon {
    // color: base.$base-color;
    margin-right: 5px;
  }
}
