@use 'styles/base';

.relatedArticleItem {
  @extend %flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @include base.hover-full-state {
    .content {
      .title {
        color: base.$base-color !important;
      }
    }
  }

  .thumb {
    width: 110px;
    height: 80px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .content {
    width: calc(100% - 110px);
    padding-left: 15px;

    .title {
      margin: 0 0 4px 0;
      line-height: 1.8rem;
      font-weight: 500;
      max-height: 4rem;
      overflow: hidden;
      display: block;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      height: 54px;
      color: white;
    }

    .date {
      font-size: 13px;
      color: base.$body-color;
      .icon {
        color: base.$base-color;
        margin-right: 4px;
        font-size: 15px;
      }
    }
  }
}
