// NOTE: application colors
$body-black-color: #181818;
$body-blue-color: #0059b3;
$body-dark-blue-color: #021048;
$orange-color: #ffa001;
$dark-orange-color: #ff5801;
$header-height: 68px;
$footer-height: 165px;
