// NOTE: application colors
$body-black-color: #181818;
$body-blue-color: #0059b3;
$body-dark-blue-color: #021048;
$body-dark-blue2-color: #1e38a3;
$orange-color: #ffa001;
$dark-orange-color: #ff5801;
$header-height: 68px;
$navigation-bar-height: 80px;
$footer-height: 272px;
