// NOTE: application colors
$text-color: rgba(0, 0, 0, 0.86);
$text-color-secondary: rgba(0, 0, 0, 0.7);
$body-black-color: #1f2124;
$body-blue-color: #0059b3;
$body-dark-blue-color: #021048;
$body-dark-blue2-color: #1e38a3;
$body-white-color: #f0f2f5;
$tag-purple-color: #552884;
$orange-color: #ffa001;
$dark-orange-color: #ff5801;
$header-height: 68px;
$navigation-bar-height: 80px;
$footer-height: 295px;
$page-top-space: 100px;
$page-bottom-space: 40px;
