@use 'styles/base';

.navigationContainer {
  background-color: base.$body-black-color;
  height: base.$navigation-bar-height;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 0 10px;
  z-index: 10;

  a {
    flex: 1;
  }

  .logo {
    min-width: 40px;
  }
}
