@use 'styles/base';

.navigationItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: white;
  width: 80px;
  text-align: center;
  transition: color 0.3s ease-out 100ms;

  @include base.hover-full-state {
    color: base.$orange-color;
  }

  .title {
    font-size: 12px;
  }

  .highlight {
    color: #ffa001;
    animation: breathing 2.8s ease-out infinite;
    -webkit-font-smoothing: antialiased;
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  60% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
