@use 'styles/base';

.footerContainer {
  background: base.$body-dark-blue-color;
  background: linear-gradient(0, base.$body-dark-blue-color 0%, base.$body-dark-blue2-color 100%);

  @include base.breakpoint(max-sm) {
    padding-bottom: base.$navigation-bar-height;
    font-size: 0.9em;
  }
}
