@use 'styles/base';

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  height: base.$header-height;
  @extend %transition;

  &.sticky {
    background: base.$body-black-color;
    position: fixed;
    top: 0;
  }

  &.black {
    background: base.$body-black-color;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  gap: 10px;

  li {
    position: relative;
    list-style: none;
    padding: 7px 0;

    a {
      display: block;
      padding: 4px 15px;
      font-size: 15px;
      text-transform: uppercase;
      color: white;
      position: relative;

      @include base.hover-full-state() {
        color: base.$orange-color;
      }
    }
  }

  .btnClose {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    opacity: 1 !important;
  }

  .btnSignin {
    height: 30px;
    border-color: white;
    color: white !important;
  }

  .btnSignup {
    @extend %primary-graient-color;
    color: white !important;
  }
}
