@use 'styles/base';

.gameContainer {
  background: rgb(2, 16, 72);
  background: linear-gradient(0deg, rgba(2, 16, 72, 1) 0%, rgba(22, 44, 136, 1) 40%, rgba(0, 89, 179, 1) 100%);
  color: white;
  position: relative;
  padding: 40px 0;

  &::before {
    content: '';
    background-image: url('/images/home-game-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    opacity: 0.2;
  }

  .btnAllGame {
    @extend %primary-graient-color;
    border-radius: 20px;
    font-size: 1.1em;
    padding: 10px 20px;
    z-index: 99999999;

    &::before {
      z-index: 999999;
    }
  }

  .divider {
    // background-image: url('/images/home-game-top-divider.svg');
    min-height: 50px;
  }
}
