@use 'styles/base';

.container {
  color: white;
  display: flex;
  align-items: center;

  .infoWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .title {
      font-size: 1.5em;
      font-weight: bold;
    }

    @include base.breakpoint(max-md) {
      .title {
        font-size: 0.8em;
      }
    }
  }
}
