@use 'styles/base';

.trustSection {
  background-color: base.$body-dark-blue-color;
  padding: 40px;
}

@include base.breakpoint(max-xs) {
  .trustSection {
    padding-left: 10px;
    padding-right: 10px;
  }
}
