@use 'styles/base';

.bg {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  --bs-aspect-ratio: calc(15 / 32 * 100%); // ratio 32:15 for banner
  max-height: 900px;
  background: rgb(2, 16, 72);
  background: linear-gradient(180deg, rgba(2, 16, 72, 1) 0%, rgba(22, 44, 136, 1) 40%, rgba(0, 89, 179, 1) 100%);
  //   background: base.$body-blue;
  //   background: linear-gradient(-90deg, rgba(2, 16, 72, 1) 0%, rgba(30, 56, 163, 1) 100%);
}

// 0059b3
