@use 'styles/base';

.articleDetailSection {
  padding-top: base.$page-top-space;
  padding-bottom: base.$page-bottom-space;
  background-color: base.$body-white-color;
  min-height: calc(100vh - base.$footer-height);
}

.articleDetailSectionWrapper {
  border-radius: 8px;

  .detailsThumb {
    position: relative;
    height: 514px;

    @include base.breakpoint(max-xxl) {
      height: 442px;
    }

    @include base.breakpoint(max-xl) {
      height: 370px;
    }

    @include base.breakpoint(max-lg) {
      height: 418px;
    }

    @include base.breakpoint(max-md) {
      height: 310px;
    }

    @include base.breakpoint(max-xs) {
      height: 220px;
    }
  }

  .detailsContent {
    padding: 0 35px 35px;
    margin-top: 30px;
    color: rgb(0, 0, 0, 0.76);
    line-height: 26px;

    @include base.breakpoint(max-md) {
      padding: 0 25px 25px;
    }

    @include base.breakpoint(max-sm) {
      padding: 0 15px 15px;
    }

    .title {
      font-size: 1.75rem;
      font-weight: bold;
      color: base.$text-color;
    }

    .meta {
      color: base.$text-color;
      font-weight: 200;
      font-size: 1.05rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .socialShareWrapper {
        display: flex;
        gap: 15px;

        button {
          background-color: transparent;
          border: 0;
          font-size: 32px;
          padding: 0;

          &.facebook {
            color: #3b5998;
          }

          &.twitter {
            color: #00acee;
          }

          &.line {
            color: #00b900;
          }
        }
      }
    }

    .detailsInner {
      margin-top: 16px;

      a {
        cursor: pointer;
        color: base.$orange-color;
      }

      h5 {
        text-align: center;
      }

      img[src$='center-small'] {
        display: block;
        margin: 0 auto;
        width: 150px;
      }

      img[src$='center-medium'] {
        display: block;
        margin: 0 auto;
        width: 50%;
      }

      img[src$='small'] {
        width: 150px;
      }

      img[src$='medium'] {
        width: 50%;
      }

      @include base.breakpoint(max-xs) {
        img[src$='center-small'] {
          width: 100px;
        }

        img[src$='center-medium'] {
          display: block;
          margin: 0 auto;
          width: 80%;
        }

        img[src$='small'] {
          width: 100px;
        }

        img[src$='medium'] {
          width: 80%;
        }
      }
    }
  }
}

.articleSidebar {
  position: sticky;
  top: 90px;

  @include base.breakpoint(max-sm) {
    margin-top: 10px;
  }

  .articleSidebarItem {
    border-radius: 8px;
    padding: 35px;

    &:not(:first-child) {
      margin-top: 25px;
    }
  }

  .relatedArticleItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
