@use 'styles/base';

.signinSection {
  color: white;
  @extend %body-blue-gradient;
  padding-top: base.$page-top-space;
  padding-bottom: base.$page-bottom-space;
  min-height: calc(100vh - base.$footer-height);
  display: flex;
  align-items: center;

  &::after {
    content: '';
    background-image: url('/images/leaf-bg.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    opacity: 0.2;
  }
}

.signinContainer {
  z-index: 2;
}

.submitButton {
  @extend %primary-graient-color;
  color: white !important;
  border: 0;
}

.signinFormCardView {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  max-width: 450px;
  padding: 40px 30px;
  backdrop-filter: blur(15px);
  border-radius: 8px !important;
  position: relative;
}

.signup {
  color: base.$orange-color;

  @include base.hover-full-state() {
    color: base.$orange-color;
  }
}

.welcomeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.penguinIcon {
  position: absolute;
  right: -8%;
  bottom: -60px;
}

@media (max-width: 1320px) {
  .penguinIcon {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 10px;
  }
}

@include base.breakpoint(max-xl) {
  .signinFormCardView {
    margin-left: auto;
    margin-right: auto;
  }

  .welcomeSection {
    margin-top: 50px;
  }
}
